* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.hero {
    background-color: #0197F6;
    height: 100vh;
    position: relative;
}

.hero h1 {
    text-align: center;
    font-family: sans-serif;
    padding-top: 80px;
    font-size: 50px;
    color: white;
}

.review-img {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

.img-hero {
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.slide-row {
    display: flex;
    width: 3200px;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.user-text {
    background-color: #39393A;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: white;
    padding: 45px;
    z-index: 2;
}

.user-text p {
    font-size: 18px;
    line-height: 24px;
}

.user-text h3 {
    margin: 35px 0 5px;
}

.container {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.active {
    width: 45px;
}