* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #0197F6;
    height: 100vh;
    position: relative;
}

.hero h1 {
    text-align: center;
    font-family: sans-serif;
    padding-top: 80px;
    font-size: 50px;
    color: white;
}

.review-img {
    width: 300px;
    height: 400px;
}

.img-hero {
    width: 100%;
    height: 100%;
}